/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

/* Títulos */
h1, h2 {
    color: #4a90e2;
}

/* Links */
a {
    color: white;
    background-color: #4a90e2;
    padding: 10px;
    display: inline-block;
    margin: 5px;
}

/* Formulários */
form {
    margin: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
    width: 95%;
}

button {
    background-color: #4a90e2;
    color: white;
}

/* Tabelas */
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

th, td {
    
    padding: 10px;
    border: 1px solid #ccc;
}

/* Imagens */
img {
    width: 100px;
}
html, body {
    height: 100%;
    margin: 0;
}



.imagem-restaurante {
    margin-top: 20px;
    max-width: 0 px;
    width: 30%;
    border-radius: 10px; /* Canto arredondado */
    outline: 15px solid #4a90e2;
}


.titulo-retangulo {
    display: inline-block;  
    padding: 10px 20px;
    border: 2px solid #4a90e2;  
    border-radius: 5px; 
    background-color: #f0f8ff;  
    color: #333; 
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}


